<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/selectorpage.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
    <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
    <title>Songs</title>
</head>

<body>
    <div class="box">
        <nav class="nav">
            <div class="nav-center">
                <a class="icon" href="#">
                    <i class="fab fa-itunes-note" id="music"></i>
                </a>
            </div>
        </nav>
    </div>

    <div class="field" id="search">
        <p class="control has-icons-left">
            <input type="text" class="input is-hovered is-medium" placeholder="Search here.">
            <span class="icon is-medium is-left">
                <i class="fas fa-record-vinyl"></i>
        </p>
        </span>
    </div>

    <div id="header">
        <div class="title is-3 has-text-left">
            Click to add.
        </div>
    </div>

    <div id="notification" style="display:none">
        has been added to your playlist.
    </div>

    <div id="song" class="block">
        <% songs.forEach(song=> { %>
            <article class="message">
                <div class="message-header ">
                    <div class="title is-4 is-bold" style="color: white; padding: 3px; cursor: pointer;"
                        id=<%=`id_${song.id}` %>>
                        <%= song.name %>
                    </div>
                </div>
                <div id="artist" class="message-body songartist">
                    <div class="columns">
                        <div class="subtitle is-5 column has-text-left">Artist : <%= song.artist %>
                        </div>
                        <button class="button is-black is-outlined has-text-right" onclick="pick('<%= song.button %>')"
                            id=<%=`button_${song.button}` %> style=" margin: 1em;">
                            Add to playlist</button>
                        <div class="subtitle is-5 column has-text-right">Length : <%= song.duration %>
                        </div>
                    </div>
                </div>
            </article>
            <% }) %>
    </div>
    <script>

        function pick(song_button) {
            // add to playlist
            document.getElementById(`button_${song_button}`).innerText = "Added to playlist";
            document.getElementById(`button_${song_button}`).classList.remove("is-outlined");
            if (song_button % 2 == 0) {
                document.getElementById(`button_${song_button}`).classList.add("is-primary");
                let messageBox = document.getElementById(`button_${song_button}`).parentNode.parentNode.parentNode;
                messageBox.classList.add("is-primary");

            }
            else if (song_button % 2 == 1) {
                document.getElementById(`button_${song_button}`).classList.add("is-danger");
                let messageBox = document.getElementById(`button_${song_button}`).parentNode.parentNode.parentNode;
                messageBox.classList.add("is-danger");

            }
            document.getElementById(`button_${song_button}`).removeAttribute("onclick");
            // change color on selection

            // notification of addition
            let notif = document.querySelector('#notification');
            notif.style.display = null;
            let popup = document.createElement('span');
            let songName = document.getElementById(`button_${song_button}`).parentNode.parentNode.parentNode.firstElementChild.firstElementChild.innerText;
            let notiftext = document.createTextNode(songName);
            popup.appendChild(notiftext);
            notif.classList.add('notification', 'has-text-centered', 'is-notif');
            notif.insertBefore(popup, notif.childNodes[0]);
            setTimeout(() => {
                popup.style.display = 'none';
                notif.style.display = 'none';

            }, 2000);

        }

    </script>

</body>

</html>