<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/playlist.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <title>Playlist</title>
</head>

<body style="font-family: 'Quicksand';">
    <div class="box">
        <nav class="nav">
            <center class="nav-center">
                <a class="icon">
                    <i class="fab fa-itunes-note" id="icon"></i>
                </a>
            </center>
        </nav>
    </div>

    <div class="card-top" style="display: none;" id="darkicon">
        <center class="icon">
            <i class=" fab fa-itunes-note" id="itunes"></i>
        </center>
    </div>

    <div id="particles-js" style="width: 100%;height: 100vh; position: fixed;"></div>

    <div class="main">
        <br>
        <center style="margin: 4.8px 0;">
            <nav class="breadcrumb has-succeeds-separator">
                <ul style="align-items:center;justify-content:center">
                    <li><a href="/">Home</a></li>
                    <li><a href=" /users">Profile</a></li>
                    <li class=" is-active"><div style="color: #7a7a7a;">Playlist</div>
                    </li>
                </ul>
            </nav>
        </center>

        <br>

        <div class=" field" id="search">
            <center>
                <input type="text" class="input is-hovered is-medium" placeholder="Search." style="width:70vw;">
            </center>
            <center>
                <button class="button is-medium is-dark" id="submit"
                    style="margin:1em;font-family: 'Quicksand';">Submit</button>
                <div class="subtitle is-5" id="announce">Why is the page so</div>
                <button class="button is-medium is-dark" id="dark" onclick="change1()"
                    style="cursor: pointer;font-family: 'Quicksand';">Bright?</button>
                <button class="button is-medium is-light" id="light" onclick="change2()"
                    style="display:none;cursor: pointer;font-family: 'Quicksand';">Dark?</button>
            </center>

        </div>

        <div id="header" class="header">
            <div class="subtitle is-3 has-text-left">
                <%= playlist.title %>
            </div>
        </div>

        <div id="songs" class="block">
            <% playlist.songs.forEach(song=> { %>
                <% console.log(song) %> 
                <article class="message" style="margin-top: 2.2em; margin-bottom: 2.2em;">
                    <div class="message-header ">
                        <div class="title is-5 is-bold" style="color: white; padding: 3px;">
                            <%= song.title %>
                        </div>
                    </div>
                    <div id="artist" class="message-body">
                        <div class="columns">
                            <div class="subtitle column is-3 has-text-left" style="color: #111111;
                        margin:
                        0.5em 0.1em;font-size: 1.3em;">
                                <%= song.artist %>
                            </div>
                            <div class="column is-5 progress-container" id=<%=`button3_${song._id}` %> style="
                                margin: 1.8em 1em;
                                height: fit-content;
                                border-width:0.4px;
                                border-color:#111111;
                                border-style:solid;
                                border-radius:5px;
                                padding: 0;

                                ">
                                <div id=<%=`button4_${song._id}` %> class="progress" style=
                                    "height: 0.5rem;
                                    border-radius:5px;
                                    width:0%;
                                    padding:0;">
                                </div>
                            </div>

                            <audio id="audio" src="/Battle Symphony.mp3" type="audio/mpeg" style="display: none;">
                            </audio>


                            <button class="column is-3 button is-black is-outlined" onclick="pick2('<%= song._id %>')"
                                id=<%=`button2_${song._id}` %> style="
                                margin:
                                1em;width:fit-content; height:fit-content;padding:6px 13px;font-family: 'Quicksand';">
                                Play
                            </button>
                        </div>
                    </div>
                </article>
                <% }) %>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" crossorigin="anonymous"></script>

    <script>

        // ScrollReveal().reveal('#link', { delay: 50 });
        ScrollReveal().reveal('#search', { delay: 200 });
        ScrollReveal().reveal('.message', { delay: 300 });




        // particlesJS.load('particles-js', '/playlist.json', function () {
        //     console.log('playlist.json loaded...');

        // });

        function change1() {
            document.getElementById("submit").classList.remove("is-dark");
            document.getElementById("darkicon").style.display = null;
            document.getElementById("itunes").style.color = "white";
            document.getElementById("announce").style.color = "white";
            document.getElementById("submit").classList.add("is-light");
            document.querySelector(".box").style.display = "none";
            document.querySelector(".is-active").firstElementChild.style.color = "white";
            document.getElementById("particles-js").style.backgroundColor = "#111111";
            document.getElementById("header").firstElementChild.style.color = "white";
            // document.getElementsByClassName("inactive").firstElementChild.style.color = "white";
            particlesJS.load('particles-js', '/dark.json', function () {
                console.log('dark.json loaded...');
            });
            document.querySelector("#dark").style.display = "none";
            document.querySelector("#light").style.display = null;

        }
        function change2() {
            // document.querySelectorAll(".inactive").firstElementChild.style.color = "black";
            document.querySelector(".is-active").firstElementChild.style.color = "#7a7a7a";
            document.getElementById("darkicon").style.display = "none";
            document.getElementById("submit").classList.remove("is-light");
            document.querySelector(".box").style.display = null;
            document.getElementById("announce").style.color = "black";
            document.getElementById("submit").classList.add("is-dark");
            document.getElementById("particles-js").style.backgroundColor = "white";
            document.getElementById("header").firstElementChild.style.color = "black";
            particlesJS.load('particles-js', '/playlist.json', function () {
                console.log('playlist.json loaded...');
            });
            document.querySelector("#dark").style.display = null;
            document.querySelector("#light").style.display = "none";

        }

    </script>

    <script>

        function pick2(song_id) {
            function updateProgress(e) {
                let progress = document.getElementById(`button4_${song_id}`);
                const { duration, currentTime } = e.srcElement;
                const progressPercent = (currentTime / duration) * 100;
                progress.style.width = `${progressPercent}%`;

            }


            let audio = document.getElementById(`button3_${song_id}`).nextElementSibling;
            audio.addEventListener('timeupdate', updateProgress);

            function setProgress(e) {
                let audio = document.getElementById(`button3_${song_id}`).nextElementSibling;
                const width = this.clientWidth;
                const clickX = e.offsetX;
                const duration = audio.duration;

                audio.currentTime = (clickX / width) * duration;
            }

            document.getElementById(`button3_${song_id}`).addEventListener('click', setProgress);

            let value = document.getElementById(`button2_${song_id}`).innerText;
            if (value === "Pause") {

                audio.pause()
                document.getElementById(`button2_${song_id}`).innerText = "Play";
                //play
                document.getElementById(`button2_${song_id}`).classList.remove("is-outlined");
                document.getElementById(`button2_${song_id}`).classList.remove("is-primary");
                document.getElementById(`button2_${song_id}`).classList.add("is-danger");
                document.getElementById(`button3_${song_id}`).style.borderColor = "#FF3860";


                let messageBox = document.getElementById(`button2_${song_id}`).parentNode.parentNode.parentNode;
                messageBox.classList.remove("is-primary");
                messageBox.classList.add("is-danger");
                let progress = document.getElementById(`button4_${song_id}`);
                progress.style.backgroundColor = "#FF3860";
                // progress.style.borderColor = "#FF3860";

            }
            if (value === "Play") {
                audio.play()
                document.getElementById(`button2_${song_id}`).innerText = "Pause";

                document.getElementById(`button2_${song_id}`).classList.remove("is-outlined");
                document.getElementById(`button2_${song_id}`).classList.remove("is-danger");


                document.getElementById(`button2_${song_id}`).classList.add("is-primary");
                document.getElementById(`button3_${song_id}`).style.borderColor = "#00D2B1";

                let messageBox = document.getElementById(`button2_${song_id}`).parentNode.parentNode.parentNode;
                messageBox.classList.remove("is-danger");
                messageBox.classList.add("is-primary");
                let progress = document.getElementById(`button4_${song_id}`);
                progress.style.backgroundColor = "#00D1B2";
            }



        };
    </script>

</body>

</html>