<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/playlist.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Soundemic - Playlists</title>
</head>

<body style="font-family: 'Quicksand';">
    <div id="particles-js">
    </div>
    <div class="main">
        <div class="box" id="iconholder" style="margin-bottom: 0;background-color: transparent;">
            <center>
                <a class="icon">
                    <i class="fab fa-itunes-note" id="icon"></i>
                </a>
            </center>
        </div>
        <center style="margin: 4.8px 0;">
            <nav class="breadcrumb has-succeeds-separator">
                <ul style="align-items:center;justify-content:fle">
                    <li id="link1"><a href="/">Home</a></li>
                    <li id="link2"><a href=" /users">Profile</a></li>
                    <li class="is-active"><a> Playlist</a>
                    </li>
                </ul>
            </nav>
        </center>

        <br>


        <div id="header" class="header">
            <div class="subtitle is-2 has-text-centered">
                <%= playlist.title %>
            </div>
        </div>

        <% if (playlist.songs.length===0) { %>
            <div class="container mt-5">
                <div class="subtitle is-4 has-text-centered mx-3 my-3"
                    style="color: rgb(189, 189, 189);font-family: 'Quicksand';">
                    No songs to display in this playlist.
                </div>
            </div>
            <% } else { %>
                <div id="songs" class="block">
                    <% playlist.songs.forEach(song=> { %>
                        <article class="message" style="margin: 3em 0; ">
                            <div class="message-header has-text-left-desktop has-text-centered-mobile">
                                <div class="title is-4 is-bold" style="color: white; padding: 3px;">
                                    <%= song.title %>
                                </div>
                            </div>
                            <div id="artist" class="message-body" style="background:transparent;">
                                <div class="columns">
                                    <div class="subtitle column is-2 has-text-centered-mobile has-text-left-desktop"
                                        style="color: #111111;margin:0.7em 0.1em;font-size: 1.35em;">

                                        <%= song.artist %>

                                    </div>
                                    <div class="column" id=<%=`button3_${song._id}` %> style="
                                        margin: 2em 1em;
                                        height: fit-content;
                                        border-width:0.4px;
                                        border-color:#111111;
                                        border-style:solid;
                                        border-radius:5px;
                                        padding: 0;">
                                        <div id=<%=`button4_${song._id}` %> class="progress" style=
                                            "height: 0.5rem;
                                            border-radius:5px;
                                            width:0%;
                                            padding:0;">
                                        </div>
                                    </div>

                                    <audio id="audio" src="<%= song.url %> " type="audio/mpeg" style="display: none;" class="<%= song._id %>">
                                    </audio>
                                    <center>
                                        <button class="column is-3 button is-black is-outlined"
                                            onclick="pick2('<%= song._id %>')" id=<%=`button2_${song._id}` %>
                                            style="
                                            margin:
                                            1em;width:fit-content; height:fit-content;padding:6px 13px;font-family:
                                            'Quicksand';">
                                            Play
                                        </button>
                                    </center>
                                    <center>
                                        <button class="column is-3 button is-black is-outlined"
                                            id=<%=`button1_${song._id}` %>
                                            style="
                                            margin:
                                            1em;width:fit-content; height:fit-content;padding:6px 13px;font-family:
                                            'Quicksand';"
                                            onclick="removeSong('<%= song._id %>')"
                                                >
                                                Remove
                                        </button>
                                    </center>
                                </div>
                            </div>
                        </article>
                        <% }) %>
                </div>
                <% } %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" crossorigin="anonymous"></script>

    <script>

        // document.querySelector("#light").style.display = "none";
        document.querySelector("#link1").firstElementChild.style.color = "black";
        document.querySelector("#link2").firstElementChild.style.color = "black";
        document.querySelector(".is-active").firstElementChild.style.color = "grey";
        document.body.style.backgroundColor = "#111111";

        // document.querySelector("#dark").style.display = "none";
        // document.querySelector("#light").style.display = null;
        // document.querySelector("#iconholder").style.display = "none";
        // document.getElementById("announce").style.color = "white";
        document.querySelector("#link1").firstElementChild.style.color = "white";
        document.querySelector("#link2").firstElementChild.style.color = "white";
        document.querySelector(".is-active").firstElementChild.style.color = "grey";
        document.getElementById("particles-js").style.backgroundColor = "#111111";
        document.getElementById("header").firstElementChild.style.color = "white";
        document.getElementById("particles-js").style.backgroundImage = null;
        particlesJS.load('particles-js', '/dark.json', function () {
            console.log('dark.json loaded...');
        });

        // function time(song_id) {
        //     let time = document.getElementById(`button3_${song_id}`).nextElementSibling.duration;
        //     document.getElementById(`button3_${song_id}`).lastElementChild.innerText = time;

        // }




        // function change2() {
        //     document.querySelector("#iconholder").style.display = null;
        //     document.querySelector("#dark").style.display = null;
        //     document.querySelector("#light").style.display = "none";
        //     document.querySelector("#link1").firstElementChild.style.color = "black";
        //     document.querySelector("#link2").firstElementChild.style.color = "black";
        //     document.querySelector(".is-active").firstElementChild.style.color = "grey";
        //     document.getElementById("announce").style.color = "black";
        //     document.getElementById("header").firstElementChild.style.color = "black";
        //     // document.getElementById("particles-js").style.backgroundImage = "url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0PSLMwOXb6GYbvgE-uBa0ddodztcStmoCFw&usqp=CAU')";

        // }

    </script>

    <script>

        var currentlyPlaying = null;

        function pick2(song_id) {
            function updateProgress(e) {
                let progress = document.getElementById(`button4_${song_id}`);
                const { duration, currentTime } = e.srcElement;
                const progressPercent = (currentTime / duration) * 100;
                progress.style.width = `${progressPercent}%`;
            }


            let audio = document.getElementById(`button3_${song_id}`).nextElementSibling;
            audio.addEventListener('timeupdate', updateProgress);

            function setProgress(e) {
                let audio = document.getElementById(`button3_${song_id}`).nextElementSibling;
                const width = this.clientWidth;
                const clickX = e.offsetX;
                const duration = audio.duration;

                audio.currentTime = (clickX / width) * duration;
            }

            document.getElementById(`button3_${song_id}`).addEventListener('click', setProgress);

            let value = document.getElementById(`button2_${song_id}`).innerText;
            if (value === "Pause") {

                audio.pause();
                currentlyPlaying = null;
                document.getElementById(`button2_${song_id}`).innerText = "Play";
                //play
                document.getElementById(`button2_${song_id}`).classList.remove("is-outlined");
                document.getElementById(`button2_${song_id}`).classList.remove("is-primary");
                document.getElementById(`button2_${song_id}`).classList.add("is-dark");
                document.getElementById(`button3_${song_id}`).style.borderColor = "#000000";


                let messageBox = document.getElementById(`button2_${song_id}`).parentNode.parentNode.parentNode.parentNode;
                messageBox.classList.remove("is-primary");
                messageBox.classList.add("is-dark");
                let progress = document.getElementById(`button4_${song_id}`);
                progress.style.backgroundColor = "#000000";

            }
            if (value === "Play") {
                if(currentlyPlaying) {
                    currentlyPlaying.pause();
                    const audio_id = currentlyPlaying.className;
                    document.getElementById(`button2_${audio_id}`).classList.remove("is-outlined");
                    document.getElementById(`button2_${audio_id}`).classList.remove("is-primary");
                    document.getElementById(`button2_${audio_id}`).classList.add("is-dark");
                    document.getElementById(`button3_${audio_id}`).style.borderColor = "#000000";
                    document.getElementById(`button2_${audio_id}`).innerText = "Play";

                    let messageBox = document.getElementById(`button2_${audio_id}`).parentNode.parentNode.parentNode.parentNode;
                    messageBox.classList.remove("is-primary");
                    messageBox.classList.add("is-dark");
                    let progress = document.getElementById(`button4_${audio_id}`);
                    progress.style.backgroundColor = "#000000";
                }
                audio.play();
                currentlyPlaying = audio;
                document.getElementById(`button2_${song_id}`).innerText = "Pause";

                document.getElementById(`button2_${song_id}`).classList.remove("is-outlined");
                document.getElementById(`button2_${song_id}`).classList.remove("is-dark");


                document.getElementById(`button2_${song_id}`).classList.add("is-primary");
                document.getElementById(`button3_${song_id}`).style.borderColor = "#00D2B1";

                let messageBox = document.getElementById(`button2_${song_id}`).parentNode.parentNode.parentNode.parentNode;
                messageBox.classList.remove("is-dark");
                messageBox.classList.add("is-primary");
                let progress = document.getElementById(`button4_${song_id}`);
                progress.style.backgroundColor = "#00D1B2";  
            }



        };

        async function removeSong(songId) {
            const url = `/users/<%= user_id %>/playlists/<%= playlist._id %>/${songId}`;
            const response = await axios.delete(url);
            location.reload(true)
        }
    </script>

</body>

</html>