<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/playlist.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Soundemic - <%= username %>
    </title>
</head>

<style>
    #iconholder {
        transition: 2s linear;
    }

    #fancyscroll {
        scrollbar-width: thin;
        height: 240px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        padding: 8px 15px;
        background-color: rgba(248, 244, 255, 0.877);
        border-radius: 2%;
    }

    .container {
        transition: 2s linear;
    }

    html,
    body {
        min-width: 100%;
        min-height: 100vh;
        background: url("https://wallpaperaccess.com/full/1162636.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        background-attachment: fixed;
    }

    #logout {
        float: right;
        transform: translate(8px, -110px);
    }

    hr {
        background-color: grey;
    }

    #fancyscroll::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    #fancyscroll::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    #fancyscroll::-webkit-scrollbar-thumb {
        background-color: #3b3b3b;
        border: 2px solid #555555;
    }


    #welcome:hover {
        transition: transform 1s linear;
        transform: scale(1.15);
        color: rgb(234, 234, 234);
    }

    #welcome {
        color: #f5f5f5;
        margin: 0.5em;
    }

    #link1>a {
        text-decoration: none;
        color: white;
    }

    #link>a {
        color: grey;

    }

    #submit {
        width: fit-content;
        margin: auto;
        font-family: 'Quicksand';
        border: 1px solid red;

    }

    #submit:hover {
        border: 1px solid #f5f5f5;
        color: white;

    }

    #login {
        width: fit-content;
        margin: auto;
        display: block;
        font-family: 'Quicksand';
    }
    .song{
        margin: 15px;
    }
    #bin:hover{
        padding: 4px;
        border: 2px solid black;
        border-radius: 5px;
        cursor: pointer;
     }

</style>

<body style="font-family: 'Quicksand';">


    <div class="box" id="iconholder" style="background-color: transparent;">
        <nav class="nav">
            <center class="nav-center">
                <a class="icon">
                    <i class="fab fa-itunes-note" id="icon"></i>
                </a>
            </center>
            <div class="nav-right">
                <form action="/users/logout" class="form" method="POST">
                    <button class="button is-outlined is-small is-danger" id="logout" style="width: fit-content;
                        margin: auto;
                        display: block;
                        font-family: 'Quicksand';" type="submit">
                        Logout
                    </button>
                </form>
            </div>
        </nav>
    </div>
    <center>
        <nav class="breadcrumb has-succeeds-separator" style="margin: 1em">
            <ul>
                <li id="link1"><a href="/">Home</a></li>
                <li id="link" class="is-active"><a href="/users">Profile</a></li>
            </ul>
        </nav>
        <br>
    </center>

    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-8">
                <p class="subtitle is-2 is-spaced has-text-centered" id="welcome">Welcome back <%= username %>!</p>
                <br>
                <div class="otherOptions">
                    <a href="/search" style="text-decoration: none; color: black;">
                        <button class="button is-outlined is-medium is-primary" id="login">
                            Search for songs
                        </button>
                    </a>
                </div>
            </div>

            <div class="column is-4">
                <div class="scroll yourPlaylist my-4" id="fancyscroll">
                    <div class="title is-4 py-4 has-text-centered">
                        <% if (playlists.length===0) { %>
                            No playlists to display.
                            <% } else { %>
                                Your Playlists
                                <% } %>
                                    <hr>
                                    <% playlists.forEach(playlist=> { %>
                                        <div class="my-3">
                                        <span class="subtitle has-text-centered py-2 px-3"
                                            style="margin:0.5em;
                                            cursor: pointer;"
                                            onclick="selectPlaylist('<%= playlist._id %>')">
                                            <%= playlist.title %> 
                                        </span>
                                        <span id="bin"><i class="far fa-trash-alt"></i></span>
                                    </div>
                                        <% }) %>
                    </div>

                </div>

                <div class="otherOptions">
                    <button class="button is-outlined is-medium is-danger" id="now" style="width: fit-content;
                            margin: auto;
                            display: block;
                            font-family: 'Quicksand';" onclick="make()">
                        New playlist
                    </button>
                    <input type="text" class="input" style="display: none; margin:1em;font-family: 'Quicksand';"
                        placeholder="Name your playlist.">
                    <center>
                        <small class="has-text-danger" style="display: none;">Please add a valid name</small>
                        <button class="button is-outlined is-danger" id="submit" style="display:none;"
                            onclick="selectSongs()">Create</button>
                    </center>
                </div>
            </div>
        </div>

    </div>


    <script>

        function selectPlaylist(_id) {
            const PLAYLIST_URL = `/users/<%= user_id %>/playlists/${_id}`;
            window.location.href = PLAYLIST_URL;
        }

        async function selectSongs() {
            let user_id = "<%=user_id%>";
            const title = input.value || "unnamed";
            try {
                url = `/users/${user_id}/playlists`;
                console.log(`URL=${url}`);
                const response = await axios.post(url, {
                    title
                });
                window.location.href = '/users';
            } catch (e) {
                console.error(e);
            }
        }

        function make() {
            document.querySelector(".input").style.display = null;
            document.querySelector("#now").style.display = "none";
            document.getElementById("submit").style.display = null;
        }
        let input = document.querySelector(".input");

        ScrollReveal().reveal('#link', { delay: 200 });
        ScrollReveal().reveal('.yourPlaylist', { delay: 400 });
        ScrollReveal().reveal('#login', { delay: 800 });
    </script>
</body>

</html>